<html>
    <head>
        <script src="/js/one.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main_content">
        {{>header}}
        {{!-- <img class="img-class" src="/img/cod.jpg" /> --}}
        <form>
            <input placeholder="location">
            <button>search</button>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </form>
        </div>
        <script src="/js/fetch.js"></script> 
        {{>footer}}   
    </body>
    
</html>