<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
         <div class="main_content">
         {{>header}}
        <p>{{forcast}}</p>
        <p>{{location}}</p>
        </div>

        {{>footer}}
    </body>
</html>